<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Formulário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated></ion-searchbar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input ClearInput></ion-input>
      <ion-input placeholder="Entre com nome"></ion-input>
      <ion-input type="number" value="123"></ion-input>
      <ion-input value="Disabled" disabled></ion-input>
      <ion-input value="readonly" readonly></ion-input>
      <ion-item>
        <ion-label>Digite o nome do seu pai:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Digite o nome da sua mãe</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Você têm irmão</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Stacked Label</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button expand="full">
        <ion-icon slot="start" name="checkmark-outline"></ion-icon>
        Salvar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
